    <h1> Thank you for your Jungle purchase! %></h1>
    <p>
      This is a confirmation receipt for your recent purchase on Jungle,
      your email is: <%= @email %>.<br>
    </p>
    <p>You the best!</p>