
This is a confirmation receipt for your recent purchase on Jungle
===============================================
 
You have successfully signed up to example.com,
your email is: <%= @email %>.
 
Thanks for joining and have a great day!

<h1> You the best! </h1>