<%= form_for([@product, @review]) do |f| %>
<div>
  Description: <%= f.text_area :description, class: "form-control", placeholder: "How was your experience with the #{@product.name}?" %>
</div>
<div>
  Rating: <%= f.select(:rating, (1..5)) %>
<%= f.submit "Submit", class: "btn btn-info" %>
</div>
<% end %>